.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.gallery-container article {
  border: 1rem solid transparent;
  border-radius: 0 2rem;
  overflow: hidden;
  transition: var(--transition);
}

.gallery-container article:hover {
  border-color: var(--color-gray-500);
}

.gallery-container article img {
  border-radius: 0 2rem;
  overflow: hidden;
}

/* Gallery Section Media Query Styles (Medium Screens) */

@media screen and (max-width: 1024px) {
  .gallery-container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .gallery-container article {
    border: 0;
  }
}

/* Gallery Section Media Query Styles (Small Screens) */

@media screen and (max-width: 600px) {
  .gallery-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
